<main class="form-contents">
  <%= form_with model: @cook, url:cook_path, local: true do |f| %>
    <div class="column-form">
      <div class="field">
        <div class="title-field">
          <h2 class="field-name">タイトル</h2>
          <%= f.text_field :title, class:"title", placeholder:"タイトル" %>
        </div>
      </div>
      <div class="field">
        <div class="text-field">
          <h2 class="field-name">コラム</h2>
          <%= f.text_area :text, class:"text", placeholder:"テキスト" %>
        </div>
      </div>
      <div class="field">
        <div class="resipe-field">
          <h2 class="field-name">レシピ</h2>
          <%= f.text_area :resipe, class:"resipe", placeholder:"レシピ" %>
        </div>
      </div>
      <div class="field">
        <div class="categori-field">
          <h2 class="field-name">カテゴリ</h2>
          
        </div>
      </div>
      <div class="field">
        <div class="file-field">
          <h2 class="field-name">画像</h2>
          <%= f.file_field :image %>
          <h2 class="field-name">動画</h2>
          <%= f.file_field :video %>
        </div>
      </div>
      <div class="field">
        <div class="tag-field", id='tag-field'>
          <h2 class="field-name">タグ</h2>
          <%= f.text_field :name, class:"input-tag" %>
        </div>
      </div>
      <div id="search-result">
      </div>
      <div class="submit-post">
        <%= f.submit "投稿する" ,class:"btn" %>
      </div>
    </div>
  <% end %>
</main>