<main>
  <div class="column-contents">
    <h2 class="title">コラム一覧(新着順)</h2>
    <ul class="column-lists">
      <% @cooks.each do |cook| %>
        <li class="list">
          <div class="column-info">
            
            <h3 class="column-title">
              <%= link_to cook.title, cook_path(cook.id), method: :get, class: "title-name" %>
            </h3>
            <div class="write-user">
              <a href="/users/<%= cook.user.id %>">
                <%= cook.user.nickname %>
              </a>
            </div>
            <div class="column-genre">
              <p><%= cook.genre.name %></p>
            </div>
            <ul class="column-tag">
              <li class="tag-list">
                <% cook.tags.each do |tag| %>
                  #<%=tag.name%>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
  </div>
</main>