<div class="cook-image">
  
</div>
<main class="column-post">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <% if user_signed_in? && @cook.user_id == current_user.id %>
        <li class="edit-delete">
          <%= link_to '編集', edit_cook_path(@cook.id) %>
        </li>
        <li class="edit-delete">
          <%= link_to '削除', cook_path(@cook.id), method: :delete %>
        </li>
      <% end%>
    </ul>
  </div>
  
  <div class="column">
    <div class="show-video">
      <% if @cook.video.attached? %>
        <video src="<%= rails_blob_path(@cook.video) %>"  type="video/mp4", class="column-video" controls></video>
      <% end %>
    </div>
    <div class="column-title">
      <%= @cook.title %>
    </div>
    <div class="column-text">
      <%= @cook.text %>
    </div>
    <div class="column-genre">
      <p><%= @cook.genre.name %></p>
    </div>
    <ul class="column-tag">
      <li class="tag-list">
        <% @cook.tags.each do |tag| %>
          #<%=tag.name%>
        <% end %>
      </li>
    </ul>
    
    <div class="show-image">
      <%= image_tag @cook.image.variant(resize: '250x250') if @cook.image.attached? %>
    </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@cook, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>