<main class="column-post">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <% if user_signed_in? && @cook.user_id == current_user.id %>
        <li>
          <%= link_to '編集', edit_cook_path(@cook.id) %>
        </li>
        <li>
          <%= link_to '削除', cook_path(@cook.id), method: :delete%>
        </li>
      <% end%>
    </ul>
  </div>
  <div class="write-user">
    <a href="/users/<%= @cook.user.id %>">
      <%= @cook.user.nickname %>
    </a>
  </div>
  <div class="column-title">
    <p><%= link_to @cook.title, cook_path(@cook.id), method: :get %></p>
  </div>
  <div class="column-text">
    <p><%= @cook.text %></p>
  </div>
  <div class="column-genre">
    <p><%= @cook.genre.name %></p>
  </div>
  <ul class="column-tag">
    <li class="tag-list">
      <% @cook.tags.each do |tag| %>
        #<%=tag.name%>
      <% end %>
    </li>
  </ul>
  <div class="column-image">
    <%= image_tag @cook.image.variant(resize: '250x250'), class:"column-image" if @cook.image.attached? %>
    <% if @cook.video.attached? %>
    <video src="<%= rails_blob_path(@cook.video) %>"  type="video/mp4", class="column-video" controls></video>
    <% end %>
  </div>
  <div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@cook, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>