<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
<h2 class="signup">Sign in</h2>
  <div class="session-user">
    <div class="field-id">
      <%= f.label :email, class: "label-field" %><br />
      <%= f.email_field :email, autofocus: true, class: "new-registration" %>
    </div>
    <div class="field-id">
      <%= f.label :password, class: "label-field" %><br />
      <%= f.password_field :password, class: "new-registration" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "action" %>
    </div>
  </div>
<% end %>


