<!DOCTYPE html>
<html>
  <head>
    <title>CookColumn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="cook-content">
  <header>
    <div class="app-title">
      <%= link_to 'cook_column', root_path %>
    </div>
    <div class="log-new">
      <%= link_to 'ログイン' %>
      <%= link_to '新規登録' %>
      <%= link_to 'マイページ' %>
      <%= link_to 'ログアウト' %>
      <%= link_to '新規投稿' %>
    </div>
  </header>
    <%= yield %>
  <footer>footer</footer>
  </body>
</html>
