<!DOCTYPE html>
<html>
  <head>
    <title>CookColumn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="cook-content">
    <header>
      <div class="app-title">
        <a href= "/"><span>Cook</span>Column</a>
      </div>
      <div class="log-new">
        <% if user_signed_in?%>
          <%= link_to 'マイページ', "/users/#{current_user.id}", class: "right-container" %>
          <%= link_to 'ログアウト', destroy_user_session_path, class: "right-container" %>
          <%= link_to '新規投稿', new_cook_path, class: "right-container" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "right-container" %>
          <%= link_to '新規登録', new_user_registration_path, class: "right-container" %>
        <% end %>
      </div>
    </header>
   <div class="cook-image"></div>
    <aside class="column-categori">
      <div class="categori-name">カテゴリー</div>
      <div class="categori-list">
        <p><%= link_to 'レシピ'  %></p>
        <p><%= link_to 'テクニック' %></p>
        <p><%= link_to '調理器具' %></p>
        <p><%= link_to 'その他' %></p>
      </div>
    </aside>
    <%= yield %>
  </body>
</html>
